@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0;
  /* padding: 0; */
  height: max-content;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #484848;
  font-size: 10pt;
  font-weight: 300;
  color: #636363;
}

header {
  height: fit-content;
  text-align: center;
}

footer {
  border-top: #c0c0c0 .5px solid;
  margin-top: auto;
  font-size: 12px;
  text-align: center;
  padding: 1em;
  margin-left: 20px;
  margin-right: 20px;
}

canvas {
  position: absolute;
  /* border: 1px solid #ff0000; */
  top: 0;
  left: 0;
  display: block;
  z-index: -5;
}

.title {
  display: inline-flex;
  overflow: hidden;
  height: 120px;
  vertical-align: middle;
  max-width: fit-content;
  margin: 0 60px 0 0;
}

.title img {
  position: relative;
  height: 180px;
  top: -15px;
  left: -30px;
  margin-right: -60px;
}

h1 {
  font-size: 34pt;
  font-weight: 100;
  color: #2a2a2a;
  text-shadow: 0 0 2px #3b3b3b;
  text-align: center;
  height: 110px;
  /* margin: 20px; */
  padding: 25px 0;
}

h3 {
  font-size: 12pt;
  font-weight: 400;
  color: #636363;
  width: fit-content;
}

input {
  outline: none;
  padding-top: 5px;
  border-bottom: 1px solid #b9b9b9;
  border-radius: 2px 5px 0 0;
  color: #636363;
  background: transparent;
  width: 20em;
}

input:hover {
  background: #bfbfbf;
}

input:focus {
  border-bottom: 1px solid #636363;
}

button {
  border: 1px solid #636363;
  /* border-radius: 5px; */
  background: transparent;
  font-weight: 600;
  color: #636363;
  padding: 2px 5px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background: #bfbfbf;
}

button:active {
  outline: 1px solid #636363;
  /* background: #8e8e8e; */
}

p {
  padding: 5px 0 5px 0;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: #636363;
}

li {
  padding: 5px 0 5px 0;
}

i {
  color: #848484;
  width: fit-content;
}

h3>i {
  padding: 0 10px 0 5px;
  /* border: 1px solid red; */
}

.control-menu {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* border: 1px solid red; */
  z-index: 5;
}

.control-menu .icon {
  position: relative;
  width: 60px;
  height: 60px;
  background: rgb(236, 236, 236);
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2em;
  transition: background 0.2s;
}

.icon.toggler {
  width: 40px;
  height: 40px;
  font-size: 1.5em;
}

.icon:hover {
  background: #fafafa;
}

.new-region {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.toggler.active {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;

  /* border: 1px solid red; */
}

.region-setup {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fafafa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  z-index: -1;
  transition: transform 0.2s, width 0.2s, height 0.2s;
  transition-delay: 0.3s, 0.1s, 0.1s;
}

.toggler.active~.region-setup {
  width: 200px;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  transform: translateX(-140px);
  transition-delay: 0.1s, 0.3s, 0.3s;
}

.region-setup input {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 0;
  border-radius: 3px 3px 0 0;
  height: fit-content;
  transition: width 0.2s;
  transition-delay: 0s;
}

.region-setup input:hover {
  background: #e6e6e6;
}

.toggler.active~.region-setup input {
  width: auto;
  transition-delay: 0.4s;
}

.prop-container {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.prop-container i {
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.prop-container span {
  width: 0;
  transition: width 0.2s;
  transition-delay: 0.5s
}

.toggler.active~.region-setup .prop-container span {
  width: auto;
}


.prop-container input {
  text-align: center;
  padding: 0;
  font-size: 11pt;
  border: none;
  border-radius: 3px;
}

.toggler.active~.region-setup .prop-container {
  visibility: visible;
  transition-delay: .4s;
}

.container {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: none;
  /* border: 1px solid blue; */
  width: fit-content;
  height: fit-content;
  max-width: 80vw;
  max-height: 80vh;
  transform: (180);
}


/* .container::-webkit-scrollbar-track {
  background-color: transparent;
} */

.container::-webkit-scrollbar {
  background-color: transparent;
}

/* .container::-webkit-resizer {
  border: 1px solid red;
} */


.card {
  position: relative;
  /* border: .5px dashed #666; */
  background-color: #d7d7d7c8;
  border-radius: 0px 15px 15px 0px;
  margin: 10px;
  padding: 5px 50px 5px 5px;
  width: fit-content;
  min-width: 260px;
}

/* collapsibles */


/* (A) HIDE CHECKBOX */
.togCheck {
  display: none;
}

/* (B) HIDE CONTENT BY DEFAULT */
.togContent {
  /* border: 1px solid red; */
  max-height: 0;
  max-width: 200px;
  opacity: 0;
  visibility: hidden;
  /* transition: width 2s, opacity .2s; */
}

/* .togContent p {
  padding: 10px 0 10px 10px;
} */

.togContent ol {
  padding-left: 20px;
  margin: 0;
}

.togContent ul {
  padding-left: 15px;
  margin: 0;
}

/* (C) SHOW CONTENT WHEN CHECKED */
.togCheck:checked~.togContent {
  max-height: 100vh;
  max-width: 50vw;
  padding: 10px 0 10px 10px;

  /* top: - max-height; */
  /* any insanely large number if a lot of contents */
  opacity: 1;
  visibility: visible;
  transition: max-height .8s, opacity .8s;
}



h3+.togCheck:checked+.togButton {
  /* border: 1px solid blue; */
  transform: rotate(180deg);
  transition: 500ms
}

/* (X2) TOGGLE BUTTON */
.togButton {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 11pt;
  height: fit-content;
  background: none;
  cursor: pointer;
  transition: 500ms;
}

::placeholder {
  color: var(--c);
}