@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: max-content;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  font-size: 12px;
  text-align: center;
  padding: 2em;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -5;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: #636363;
  text-align: center;
  margin: 0;
  padding: 0;
}

p,
li,
ol,
ul {
  margin: 1em;
  color: #484848;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}

.card {
  /* border: .5px dashed #666; */
  background-color: #b7b7b750;
  border-radius: .5em;
  margin: 10px;
  padding: 10px;
  /* color: #fdefd0; */
  cursor: move;
}

.card.over {
  border: 3px dotted #666;
}

[draggable] {
  user-select: none;
}